
marquee{
    margin-top: 10px;
}

body{
    background: #a7d1d1;
    text-decoration-color:none;
    color: #234747;
    line-height: 1.6;
    font-family: 'Segor UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
    margin-bottom: auto;

}
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container{
   width: 80%;
  .center-block();
  height: 70%;

}
.img-retina(@file-1x; @file-2x; @width-1x; @height-1x) {
  background-image: url("@{file-1x}");

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("@{file-2x}");
    background-size: @width-1x @height-1x;
  }
}




#images{
   width: 100%;
   height: 70%
  .center-block();
}

.dropdown{
    float:left;
    clear:right;
    margin-right: 50px;

}
